{% extends 'base.html.twig' %}


{% block title %}
    Homepage

{% endblock %}

{% block body %}
    <section class ="container">
        <h1 class="text-center">Welcome
            {{ app.user ? app.user.firstName}}
        </h1>
    </section>

{% endblock %}