{% extends 'base.html.twig' %}

{% block title %}
	Modification d'une catégorie
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-3">
		<h1 class="text-center">Modification d'une catégorie</h1>
		{% include 'backend/category/_form.html.twig' with {buttonLabel: 'Modifier'} %}
	</section>
{% endblock %}